# Core data handling
pandas==2.2.2
numpy==1.26.4

# ML utilities
scikit-learn==1.5.1

# Config handling
pyyaml==6.0.2

# Jupyter notebooks (EDA & exploration)
jupyter==1.0.0
notebook==7.2.2

# Visualization
matplotlib==3.9.2
seaborn==0.13.2

# Utilities
tqdm==4.66.5
